apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "4"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"nodeapp","namespace":"default"},"spec":{"replicas":2,"selector":{"matchLabels":{"app":"nodeapp"}},"template":{"metadata":{"labels":{"app":"nodeapp"}},"spec":{"containers":[{"command":["sh","-c","while true; do echo 'Node app running'; sleep 3600; done"],"image":"node:18-alpine","name":"nodeapp","ports":[{"containerPort":3000}],"resources":{"limits":{"cpu":"500m","memory":"256Mi"},"requests":{"cpu":"250m","memory":"128Mi"}}}],"securityContext":{"fsGroup":1000,"runAsGroup":1000,"runAsUser":1000}}}}}
    kubernetes.io/change-cause: kubectl set image deployment/nodeapp nodeapp=nodeapp-secure
      --record=true
  creationTimestamp: "2025-12-21T21:38:13Z"
  generation: 5
  name: nodeapp
  namespace: default
  resourceVersion: "71376"
  uid: 45f7ed94-c874-4609-a7f4-617f4ae64469
spec:
  progressDeadlineSeconds: 600
  replicas: 2
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: nodeapp
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/restartedAt: "2025-12-26T05:09:44Z"
      labels:
        app: nodeapp
    spec:
      containers:
      - command:
        - sh
        - -c
        - while true; do echo 'Node app running'; sleep 3600; done
        image: nodeapp-secure
        imagePullPolicy: IfNotPresent
        name: nodeapp
        ports:
        - containerPort: 3000
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 256Mi
          requests:
            cpu: 250m
            memory: 128Mi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext:
        fsGroup: 1000
        runAsGroup: 1000
        runAsUser: 1000
      terminationGracePeriodSeconds: 30
status:
  availableReplicas: 2
  conditions:
  - lastTransitionTime: "2025-12-26T04:53:39Z"
    lastUpdateTime: "2025-12-26T04:53:39Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  - lastTransitionTime: "2025-12-26T05:20:13Z"
    lastUpdateTime: "2025-12-26T05:20:13Z"
    message: ReplicaSet "nodeapp-858b6979db" has timed out progressing.
    reason: ProgressDeadlineExceeded
    status: "False"
    type: Progressing
  observedGeneration: 5
  readyReplicas: 2
  replicas: 3
  unavailableReplicas: 1
  updatedReplicas: 1
